.details-container{
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;

    .details{

        .details-head{
        color: red;

        }
        .details-content{
            display: flex;
            justify-content: center;
            box-shadow: 0px 0px 1px rgba(62, 55, 55, 0.532);
            margin: auto;
            border-radius: 3px;

            .details-img{
                width: 50%;
                padding-right: 10px;
                img{
                    width: 80%;
                }
            }
            .details-text{
                width: 50%;
                .details-vc{
                    display: flex;

                    .details-v{
                        width: 50%;
                        padding: 10px 5px;
                        border-left: 1px solid rgba(128, 128, 128, 0.733);
                        border-bottom: 1px solid rgba(128, 128, 128, 0.733);
                    }
                    .details-c{
                        width: 50%;
                        padding: 10px 5px;
                        border-left: 1px solid rgba(128, 128, 128, 0.733);
                        border-bottom: 1px solid rgba(128, 128, 128, 0.733);
                    }
                }

                h2{
                    padding: 10px 0;
                }
                button{
                    background-color: red;
                    width: 50%;
                    margin: 30px 0;
                    padding: 10px 0;
                    border: none;
                    font-size: 20px;
                    font-weight: bolder;
                    color: white;
                }

            }

        }
    }

}