.navbar-brand{
    width:10%;
    img{
    width:100%;
    }
}
.container{
    display:flex;
    justify-content:space-between;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#ffffff;
    padding:15px 40px;
    font-weight:500;
}
.img{
    width: 10%;
    img{
        width:100%;
    }
}
.image{
    width: 10%;
   
    img{
        width:100%;
    }
}
#navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    li{
        list-style-type:none;
        padding:0 20px;
        transition:0.3s ease-in-out;
    }
    li:hover::after{
        content:" ";
        border-bottom:3px solid green;
        
    }
}
#mobile{
    display:none;
}
.input{
    input{
        padding:0.5rem;
        width:100%;
    }
}

section{
    width:75%;
    margin:0 auto;}
.car-container{
    display:flex;
    height: 18 rem !important;
    .car-row{
        width: 50%;
        border: 1px solid grey;

        .card{
            position: relative;
           width:100%;
            .closeicon{
                position: absolute;
                top: -1px;
                right: -226px;
                cursor: pointer;
            }
            .image{
                width:70%;
            }
        }
        .css-1ri6ub7-MuiPaper-root-MuiCard-root {
           overflow: visible;
            box-shadow: none !important;
            height: 21rem!important;
        }
        .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root{
            width: 165% !important;
        }
        .card1{
            color:blue;
            font-size: 20px;
        }
        .card2{
            font-size: 15px;
            padding:0 0 5px 0;
        }
        .card3{
            padding: 8px 0;
        }
        .cardall{
            padding-bottom: 50px !important;
        }
        .card4{
            padding-bottom: 10px;
        }
    }

.car-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;

    button{
      border-radius:50%;
      
      padding:10px 10px;
     
       display: flex;
       justify-content: center;
       align-items: center;
       margin: auto;

        }
        .displaycar{
            display: block;
        }
    span{
        display: flex;
       justify-content: center;
       align-items: center;
       margin: auto;
        color:blue;
    }
    
}
}
.compare-input{
    input{
        background-color:red;
        color:white;
        border:none;
        padding:10px 20px;
        font-size:1rem;
    }
}
.popup{
    width:400px;
    .pop{
        width: 400px;
    }
}